html, body {
   height: 100%;
   width: 100%;
}
body {
   background-color: #FFF;
}
body, p, input {
   margin: 0;
   padding: 0;
}
img, input {
   border-width: 0;
}
input {
   outline-width: 0;
}

body {
   overflow: auto;
   -webkit-user-select: none;
      -moz-user-select: none;
         -ms-user-select: none;
            -o-user-select: none;
               user-select: none;
}
/* Color --------------------------------------------- */
.red {
   color: red;
}
.blue {
   color: blue;
}
/* Measures ------------------------------------------ */
.full-width {
   width: 100%;
}
.mleft-auto {
   margin-left: auto;
}
.mright-auto {
   margin-right: auto;
}
/* Grid styles -------------------------------------------------------------- */
.grid {
   display: grid;
}
.grid-center {
   align-content: center;
   justify-content: center;
}
.grid-content-center {
   align-content: center;
}
.grid-justify-content-center {
   justify-content: center;
}
.grid-align-self-center {
   align-self: center;
}
.grid-align-self-end {
   align-self: end;
}
.grid-justify-self-center {
   justify-self: center;
}
/* Flex box styles ---------------------------------------------------------- */
.flex {
   display: -webkit-box;
   display: -moz-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
}

.flex-center {
   align-items: center;
   -ms-box-align:center;
   -webkit-box-align: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   /*  */
   -webkit-box-direction: normal;
   -moz-box-direction: normal;
   -ms-box-direction: normal;
   -moz-box-orient: vertical;
   -ms-box-orient: vertical;
      -webkit-box-orient: vertical;
         -webkit-box-pack: center;
         -ms-box-pack: center;
            -moz-box-pack: center;
               -ms-flex-pack: center;
                  -webkit-justify-content: center;
                     justify-content: center;
}

.flex-items-center {
   align-items: center;
   -ms-box-align:center;
   -webkit-box-align: center;
   -moz-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
}

.flex-justify-between {
   -webkit-box-pack: justify;
   -moz-box-pack: justify;
   -ms-flex-pack: justify;
   -ms-box-pack: justify;
   -webkit-justify-content: space-between;
   justify-content: space-between;
}

.flex-justify-center {
   -webkit-box-direction: normal;
   -moz-box-direction: normal;
   -ms-box-direction: normal;
   -moz-box-orient: vertical;
   -ms-box-orient: vertical;
      -webkit-box-orient: vertical;
         -webkit-box-pack: center;
         -ms-box-pack: center;
            -moz-box-pack: center;
               -ms-flex-pack: center;
                  -webkit-justify-content: center;
                     justify-content: center;
}
.flex-justify-end {
   justify-content: flex-end;
}
.flex-column {
   -webkit-flex-direction: column;
      -ms-flex-direction: column;
         flex-direction: column;
}
.flex-row {
   flex-direction: row;
}

.flex-single-center {
   align-self: center;
}

.flex-wrap {
   flex-wrap: wrap;
}
.flex-grow-1 {
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-box-flex: 1;
      -webkit-flex-grow: 1;
         -ms-flex-positive: 1;
            flex-grow: 1;
}

/* Border ------------------------------------------------------------------- */
.no-border {
   border: none;
}
.border-box {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
         box-sizing: border-box;
}
/* Padding ------------------------------------------------------------------ */
.pleft10 {
   padding-left: 10px;
}
.pright10 {
   padding-right: 10px;
}
/* Margin ------------------------------------------------------------------- */
.mtop25 {
   margin-top: 25px;
}
.mright15 {
   margin-right: 15px;
}
.mright25 {
   margin-right: 25px;
}
/* Font Size ---------------------------------------------------------------- */
.font10 {
   font-size: 10px;
}
.font12 {
   font-size: 12px;
}
.font14 {
   font-size: 14px;
}
.font50 {
   font-size: 50px;
}
/* Font Text styles --------------------------------------------------------- */
.font-bold {
   font-weight: bold;
}
/* Text --------------------------------------------------------------------- */
.text-center {
   text-align: center;
}