/* Global Styles ------------------------------------------------------------ */
body
{
   color: #666;
}

body, textarea, input, button, a, h1, h2, h3, h4, h5, h6
{
   font-family: Helvetica, 'Open Sans';
}
/* Tags --------------------------------------------------------------------- */
button {
   border-color: #CCC;
   border-style: solid;
   border-width: 1px;
   cursor: pointer;
   font-size: 13px;
   outline-width: 0;
}
/* Fields ------------------------------------------------------------------- */
.app-text-field {
   height: 30px;
   border: 1px solid #C9C9C9;
}
.app-text-field input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input::-moz-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input:-ms-input-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field input:-moz-placeholder { /* Chrome/Opera/Safari */
   color: #CCCCCC;
}
.app-text-field-error {
   border: 1px solid red !important;
}
.app-text-field-selected {
   border: 1px solid #0099FF;
}
/* Button ------------------------------------------------------------------- */
.app-button-blue {
   color: white;
   background-color: #0099FF;
   border: 1px solid #0066FF;
}
.app-button-gray {
   color: #666666;
   background-color: #F2F2F2;
   border: 1px solid #C9C9C9 !important;
}
/* Size --------------------------------------------------------------------- */
.size-100x30 {
   width:100px;
   height: 30px;
}